$default-font: "Lucida Sans Unicode", "Arial", "Sans Serif";
$default-border-color: #777;

h1 {
  font-family: $default-font;
  border-bottom: 1px solid silver;
}

#page-wrapper {
  width: 500px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -250px;
  padding: 5px;
  border: 1px solid silver;
}

#heading {
  font-size: 24px;
  text-align: center
}

#errors {
  border: 1px solid $default-border-color;
  padding: 3px;
  display: none;
  color: #EB8282;
}

.form-row {
  margin: 15px 0;

  label {
    display: inline-block;
    float: left;
    width: 150px;
    font-family: $default-font;
  }
  .form-input {
    width: 200px;
    padding: 3px;
    border: 1px solid $default-border-color;
    resize: none;
  }

  &.required {
    label:after {
      content: "*";
      color: #F35151;
    }
  }
}

.form-controls {
  text-align: center;
}

textarea {
  width: 200px;
  padding: 3px;
  border: 1px solid $default-border-color;
}

.clearfloat:after {
  content: " ";
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.btn-submit {
  color: #333;
  text-decoration: none;
  display: inline-block;
  font-family: $default-font;
  padding: 4px 8px;
  background: #7EB87E;
  border: 1px solid #4D814D;
  font-size: 24px;
}

